.timer {
	@at-root .clock {

		canvas {
			// background-color: #ccc;
		}

		.button {
			position: absolute;
			top: 300px;
			left: 250px;
			transform: translate(-50%, -50%);

			font-size: 50px;
			cursor: pointer;
		}

		.button-group {
			display: none;
			width: 200px;
			height: 200px;
			position: absolute;
			top: 200px;
			left: 150px;

			div {
				cursor: pointer;
				text-align: center;
				font-size: 80px;

				&:first-child {
					border-bottom: 1px solid #000;
				}
			}
		}
	}

	@at-root .timerInfo {

		position: absolute;
		top: 110px;
		left: 500px;
		width: 360px;

		.timerSwitcher {

			margin: 0 15px;
			font-size: 15px;
			line-height: 15px;
			text-align: center;

			div {
				display: inline-block;

				&:nth-child(2) {
					width: 300px;
				}
			}
		}

		.info-card {
			background-color: rgba(0, 0, 0, .9);
			border-radius: 8px;
			color: #fff;
			font-family: "Microsoft Yahei UI";
			text-align: center;
			margin: 15px;

			&.targetInfo-card {
				clear: both;
				padding: 10px;

				div {
					&:nth-child(1) {
						font-size: 20px;
						line-height: 40px;
					}
					&:nth-child(2) {
						font-size: 20px;
						line-height: 40px;
						color: #ff0;
					}
				}
			}

			&.timerInfo-card {
				width: 150px;
				height: 210px;
				float: left;

				div {
					&:nth-child(1) {
						margin-top: 10px;
						font-size: 50px;
						line-height: 100px;
					}
					&:nth-child(2) {
						font-size: 20px;
						line-height: 40px;
					}
					&:nth-child(3) {
						font-size: 30px;
						line-height: 60px;
					}
				}
			}
		}
	}
}