.user {
	@at-root .card-user {
		width: 275px;
		height: 375px;

		border: 1px solid #ccc;
		box-shadow: 2px 2px 5px #ccc;

		margin: 0 auto;
		position: relative;
		top: 50px;

		text-align: center;

		.avatar {
			font-size: 50px;
			line-height: 100px;

			padding-top: 25px;
		}

		.username {
			font-size: 20px;
			line-height: 20px;
			padding-bottom: 15px;
		}

		.options {
			list-style: none;
			width: 80%;
			margin: 20px auto 0;

			a {
				color: #000;

				&:hover {
					color: #f00;
				}
			}

			li {
				padding: 15px 0;
				border-bottom: 1px dashed #ccc;
				cursor: pointer;

				&:nth-child(3) {
					border: none;
				}

				&:hover {
					color: #f00;
				}
			}
		}		
	}
}